//
//  ConfigBase.xcconfig
//  ManicEmu
//
//  Created by Aushuang Lee on 2023/5/9.
//  Copyright © 2023 Manic EMU. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_BUNDLE_IDENTIFIER = com.aoshuang.manicemu
APP_BUILD_VERSION = 2
APP_VERSION = 1.2.1
