<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUILD_DATE</key>
	<string>2025-03-17T05:15:40Z</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GBC Game</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.aoshuang.game.gbc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GBA Game</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.aoshuang.game.gba</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>NES Game</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.aoshuang.game.nes</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SNES Game</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.aoshuang.game.snes</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>DS Game</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.aoshuang.game.ds</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>3DS Game</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.aoshuang.game.3ds</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Manic EMU Controller Skin</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.aoshuang.skin</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Manic EMU Game Save</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.aoshuang.gamesave</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Manic EMU Zip</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.aoshuang.zip</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(APP_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>manicemu-oauth</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleOAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.177622908853-bkjvno7a5v14obn3rn70s264afrll6p7</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>MSOauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth.com.aoshuang.manicemu</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(APP_BUILD_VERSION)</string>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>DirectionalGamepad</string>
		</dict>
	</array>
	<key>GCSupportsControllerUserInteraction</key>
	<true/>
	<key>GCSupportsGameMode</key>
	<true/>
	<key>GIT_REV</key>
	<string>24a341e925fe75ddab2e596a0ee3fe0ecd93c810</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera access required to capture photos for custom game covers in Manic EMU</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access required for full Nintendo DS game functionality in Manic EMU</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Manic EMU requires photo library access to save game screenshots and create custom game covers</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Manic EMU requires photo library access to save screenshots and select images for game covers</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.aoshuang.manicemu</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Manic EMU</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).ApplicationSceneDelegate</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleExternalDisplay</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>External Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).ExternalSceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GBC Game</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>file_icon.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.aoshuang.game.gbc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gbc</string>
					<string>gb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GBA Game</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>file_icon.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.aoshuang.game.gba</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gba</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NES Game</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>file_icon.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.aoshuang.game.nes</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nes</string>
					<string>fc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SNES Game</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>file_icon.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.aoshuang.game.snes</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>snes</string>
					<string>fig</string>
					<string>smc</string>
					<string>sfc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DS Game</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>file_icon.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.aoshuang.game.ds</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nds</string>
					<string>ds</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>3DS Game</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>file_icon.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.aoshuang.game.3ds</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cia</string>
					<string>3ds</string>
					<string>app</string>
					<string>cci</string>
					<string>cxi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Manic EMU Controller Skin</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>file_icon.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.aoshuang.skin</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>manicskin</string>
					<string>deltaskin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Manic EMU Game Save</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>file_icon.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.aoshuang.gamesave</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sav</string>
					<string>dsv</string>
					<string>srm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Manic EMU Game Save</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>file_icon.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.aoshuang.zip</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zip</string>
					<string>7z</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
